<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-icon-message/cells-icon-message.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="cells-bfm-message-actions-styles.html">
<dom-module id="cells-bfm-message-actions">
  <template>
    <style include="cells-bfm-message-actions-styles"></style>
    <cells-icon-message class="inline gray-background">
        <p class="fuente-mensaje">[[texto_mensaje]]</p>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div slot="actions" class="double-btn-group">
          <cells-st-button class="btn link size-s">
            <button>[[tx_btn_despues]]</button>
          </cells-st-button>
          <cells-st-button class="btn secondary size-s">
            <button>[[tx_btn_agregar]]</button>
          </cells-st-button>
        </div>
      </cells-icon-message>
  </template>
  <script src="cells-bfm-message-actions.js"></script>
</dom-module>