@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, Benton Sans);
  @apply --cells-bfm-message-actions;
}

:host([hidden]), [hidden] {
  display: none !important;
} 

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}

.gray-background {
  background-color: #F4F4F4;
}

.fuente-mensaje {
  src: url(https://bbva-files.s3.amazonaws.com/cells/assets/coronita/fonts/benton/BentonSansBBVA-Regular.woff2) format("woff2"),
           url(https://bbva-files.s3.amazonaws.com/cells/assets/coronita/fonts/benton/BentonSansBBVA-Regular.woff) format("woff");
      font-style: italic;
      font-weight: 300;
      font-display : auto;
}
